{% extends 'base.html.twig' %}

{% block title %}Hello EventsController!{% endblock %}

{% block body %}


	<div class="jumbotron jumbotron-fluid mb-0" style="background-color: #8AADD7">
		<h2 class="text-center"> The last events in Vienna </h2>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 m-4 justify-content-around" id="container1">
      			   {% for event in events %}
				<div class="card-deck">
                   
                        <div class="card mb-4 text-white text-center teaser hovereffect" style="background-color: #4775B3">
                            <img src={{event.image}} class="card-img-top imageheight" alt="thethingstosee" style="border: 0.02px solid silver">
                            <div class="card-body">
                                <h5 class="card-title">{{event.name}} </h5>
                                <p class="card-text text-left">{{event.datetime|date('D d/m/y')}} at {{event.datetime|date('H:i')}}</p>
                              
                           </div>
                                <div class="card-footer text-left mt-2 small" style="background-color: #0154A0">
                                	<a href="/details/{{event.id}}" class="btn btn-success">View</a>
                                  <a href="/edit/{{event.id}}" class="btn btn-info">Edit</a>
          							 <a href="/delete/{{event.id}}" class="btn btn-danger">Delete</a> 
          							 
          						</div>
                     
                     
                   		
               			</div>
   				</div>

{% endfor %}

</div>
</div>


{% endblock %}

